/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
:root {
  --primary-color: #003D23; 
  --accent-color: #A6979C;
}
/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
}

html{
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  max-width: 420px;
  min-width: 280px;
  text-align: center;
  padding: 0.5em;
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color:rgb(64, 51, 79);
}

input.timer {
  border:none;
  text-align: center;
  margin: 1em auto;
  font-size: 5em;
  width: 100%;
}
@media (max-width: 420px) {
  input.timer  {
    font-size: 2.5em;
    margin: 0.5em auto;
  }
}

.color-control {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 1em;
  width: 100%;
  margin-inline: auto;
}

.color-control label {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.color-control input[type="color"] {
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 2px;
  background: none;
  padding: 0;
}

button {
  font-size: 1.5em;
  padding: 0.2em 0.8em;
  margin: 0.5em;
  color: seashell;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

button:hover{
  opacity: 0.7;;
}

#start {
  background-color: rgb(184, 39, 39);
}
#stop {
  background-color: rgb(43, 111, 43);
}
#reset {
  background-color: rgb(43, 43, 142);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
